Repository Artemkulish/demo3: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_messaging, build_payment, build_simulation, build_trip, build_vehicle, build_gateway, build_identity, deploy_identity, deploy_messaging, deploy_payment, deploy_simulation, deploy_trip, deploy_vehicle, deploy_gateway

.gitlab-ci.yml:

variables:
    PATH_TO_JAR:    /target/*.jar
    #IP:             10.128.0.13
    #IP: $ENV-VARIEBLE
    
stages:
    - build
    - deploy    
    - update
    

.build_template: &build_template
    stage: build
    script:
        - cd $PATH_TO_APP
        - mvn clean package
        - sudo docker build -t gitlab.svagworks.me:5050/root/demo_3:$PATH_TO_APP .
        - sudo docker push gitlab.svagworks.me:5050/root/demo_3:$PATH_TO_APP
    artifacts:
        paths:
        - $PATH_TO_APP$PATH_TO_JAR
        expire_in: 5 min

build_messaging:
    <<: *build_template
    variables:
        PATH_TO_APP: messaging
    only:
        changes:
            - messaging/**/*
        
build_payment:
    <<: *build_template
    variables:
       PATH_TO_APP: payment
    only:
        changes:
           - payment/**/*

build_simulation:
    <<: *build_template
    variables:
        PATH_TO_APP: simulation     
    only:
        changes:
            - simulation/**/*

build_trip:
    <<: *build_template
    variables:
        PATH_TO_APP: trip     
    only:
        changes:
            - trip/**/*

build_vehicle:
    <<: *build_template
    variables:
        PATH_TO_APP: vehicle     
    only:
        changes:
            - vehicle/**/*

build_gateway:
    <<: *build_template
    variables:
        PATH_TO_APP: gateway     
    only:
        changes:
            - gateway/**/*

build_identity:
    stage: build
    script:
        - cd identity/identity-starter && mvn clean install
        - cd ../identity-service && mvn clean package
        - sudo docker build -t gitlab.svagworks.me:5050/root/demo_3:identity .
        - sudo docker push gitlab.svagworks.me:5050/root/demo_3:identity
    artifacts:
        paths:
        - identity/identity-starter$PATH_TO_JAR
        - identity/identity-service$PATH_TO_JAR
        expire_in: 1 day 
    only:
        changes:
            - identity/**/*

.deploy_template: &deploy_template
    stage: deploy
    script:
      - scp -r /home/env docker-compose.yml deploy.sh $USERNAME@$IP_TEST:/tmp
      - ssh $USERNAME@$IP_TEST "sudo cp -r /tmp/env /var/ && sudo mv /tmp/docker-compose.yml /var/ && sudo mv /tmp/deploy.sh /var/"
      - ssh $USERNAME@$IP_TEST "cd /var/ && sudo bash /var/deploy.sh"
      
deploy_identity:
    <<: *deploy_template
    only:
        changes:
            - identity/**/*

deploy_messaging:
    <<: *deploy_template
    only:
        changes:
            - messaging/**/*
        
deploy_payment:
    <<: *deploy_template
    only:
        changes:
            - payment/**/*
        
deploy_simulation:
    <<: *deploy_template
    only:
        changes:
            - simulation/**/*
        
deploy_trip:
    <<: *deploy_template
    only:
        changes:
            - trip/**/*
        
deploy_vehicle:
    <<: *deploy_template
    only:
        changes:
            - vehicle/**/*

deploy_gateway:
    <<: *deploy_template
    only:
        changes:
            - gateway/**/*

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

testing
  gateway/test
  identity/test
  messaging/test
  payment/test
  simulation/test
  trip/test
  vehicle/test
Due: build_messaging, build_payment, build_simulation, build_trip, build_vehicle, build_gateway, build_identity, deploy_identity, deploy_messaging, deploy_payment, deploy_simulation, deploy_trip, deploy_vehicle, deploy_gateway

Update Dockerfile
  messaging/Dockerfile
Due: build_messaging, deploy_messaging

Update Dockerfile
  gateway/Dockerfile
Due: build_gateway, deploy_gateway

Update Dockerfile
  identity/identity-service/Dockerfile
Due: build_identity, deploy_identity

Update Dockerfile
  simulation/Dockerfile
Due: build_simulation, deploy_simulation

Update pom.xml
  simulation/pom.xml
Due: build_simulation, deploy_simulation

Update Dockerfile
  trip/Dockerfile
Due: build_trip, deploy_trip

Update Dockerfile
  vehicle/Dockerfile
Due: build_vehicle, deploy_vehicle

Update Dockerfile
  payment/Dockerfile
Due: build_payment, deploy_payment

Update deploy.sh
  deploy.sh
Due: none

TeamCity change in 'Demo 4' project: Versioned settings configuration updated
  .teamcity/Demo4/buildTypes/Demo4_Build.xml
  .teamcity/Demo4/project-config.xml
  .teamcity/Demo4/vcsRoots/Demo4_HttpsGithubComArtemkulishDemo4refsHeadsMaster.xml
Due: none

TeamCity change in 'Demo 4' project: Versioned settings configuration updated
  .teamcity/pom.xml
  .teamcity/settings.kts
Due: none

1
  .idea/.gitignore
  .idea/Demo_4.iml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  .teamcity/settings.kts
Due: none

2
  .teamcity/settings.kts
Due: none

Trip service
  .idea/Demo_4.iml
  .idea/kotlinc.xml
  .idea/libraries/KotlinJavaRuntime.xml
  .teamcity/settings.kts
  lib/kotlin-reflect-sources.jar
  lib/kotlin-reflect.jar
  lib/kotlin-stdlib-sources.jar
  lib/kotlin-stdlib.jar
  lib/kotlin-test-sources.jar
  lib/kotlin-test.jar
Due: none

TeamCity change in 'Demo 4' project: 'Build' build configuration was removed
  .teamcity/settings.kts
Due: none

Demo4
  .teamcity/settings.kts
Due: none

1
  .teamcity/settings.kts
Due: none

TeamCity change in 'Demo 4' project: build configuration was created from URL
  .teamcity/settings.kts
Due: none

TeamCity change in 'Demo 4' project: 1 build step(s) were added to 'Trip' build configuration
  .teamcity/settings.kts
Due: none

TeamCity change in 'Demo 4' project: runners of 'Trip' build configuration were updated
  .teamcity/settings.kts
Due: none

TeamCity change in 'Demo 4' project: 'Trip' build configuration was removed
  .teamcity/settings.kts
Due: none

test
  .teamcity/settings.kts
Due: none

TeamCity change in 'Demo 4' project: commit current project settings
  .teamcity/settings.kts
Due: none

Update settings.kts
  .teamcity/settings.kts
Due: none
